<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312799945662-sfgv8mqiddu1cekufefb2rbceeivfk4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312799945662-sfgv8mqiddu1cekufefb2rbceeivfk4a</string>
	<key>API_KEY</key>
	<string>AIzaSyDaDif92NKnVHJyhbx84ww0jUPeK02ufrE</string>
	<key>GCM_SENDER_ID</key>
	<string>312799945662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.duosUi</string>
	<key>PROJECT_ID</key>
	<string>duos-fd03d</string>
	<key>STORAGE_BUCKET</key>
	<string>duos-fd03d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312799945662:ios:551d95c442b9191ee2cfef</string>
</dict>
</plist>